<%layout("/layouts/boilerplate.ejs")%>
  <script>
    const listing=<%-JSON.stringify(listing)%>;
  </script>
  <div class="container">
  <div class="row mt-4">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ">
      <h2>Edit Your Listing</h2>
      <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" type="text" value="<%=listing.title%>" id="title" class="form-control" required/>
            <div class="invalid-feedback">Title should be valid!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Please enter a short description!</div>
        </div>
        <div class="mb-3">
          Original image
          <br>
          <img src="<%=originalUrl%>" alt="original preview">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            name="image"
            type="file"
            id="image"
            class="form-control"
          />
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="price" type="number" value="<%=listing.price%>" id="price" class="form-control" required/>
                <div class="invalid-feedback">Price should be valid!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="country" type="text" value="<%=listing.country%>" id="country" class="form-control" required/>
                <div class="invalid-feedback">Country should be valid!</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="location" type="text" value="<%=listing.location%>" id="location" class="form-control" required/>
            <div class="invalid-feedback">Location should be valid!</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Select Categories</label>
          <div class="d-flex flex-wrap gap-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Room"
                id="catRoom"
              />
              <label class="form-check-label" for="catRoom">Room</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Iconic cities"
                id="catCities"
              />
              <label class="form-check-label" for="catCities"
                >Iconic cities</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Mountains"
                id="catMountains"
              />
              <label class="form-check-label" for="catMountains"
                >Mountains</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Castles"
                id="catCastles"
              />
              <label class="form-check-label" for="catCastles">Castles</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Amazing pools"
                id="catPools"
              />
              <label class="form-check-label" for="catPools"
                >Amazing pools</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Camping"
                id="catCamping"
              />
              <label class="form-check-label" for="catCamping">Camping</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Beach"
                id="catBeach"
              />
              <label class="form-check-label" for="catBeach">Beach</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Farms"
                id="catFarms"
              />
              <label class="form-check-label" for="catFarms">Farms</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Arctic"
                id="catArctic"
              />
              <label class="form-check-label" for="catArctic">Arctic</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category[]"
                value="Boats"
                id="catBoats"
              />
              <label class="form-check-label" for="catBoats">Boats</label>
            </div>
          </div>
          <div class="invalid-feedback">
            Please choose at least one category!
          </div>
        </div>
        <button class="btn edit-btn">Confirm Edit</button>
      </form>
    </div>
  </div>
  </div>
<script>
  let category=document.querySelectorAll('input[name="category[]"]');
  for(cat of category){
    if(listing.category.includes(cat.value)){
      cat.checked=true;
    }
  }
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector(".needs-validation");  
    const categoryInputs = document.querySelectorAll('input[name="category[]"]');

    form.addEventListener("submit", (event) => {

      const checked = [...categoryInputs].some((checkbox) => checkbox.checked);

      if (!checked) {
        event.preventDefault();   
          categoryInputs[0]
          .closest(".mb-3")
          .querySelector(".invalid-feedback").style.display = "block";
      } else {
      
        categoryInputs[0]
          .closest(".mb-3")
          .querySelector(".invalid-feedback").style.display = "none";
      }

      
      form.classList.add("was-validated");
    });
  });
</script>