<%layout("/layouts/boilerplate.ejs")%>
<body>
    <h1>Listing Details</h1>
    <ul>
        <li><%=listItem.title%></li>
        <li><%=listItem.description%></li>
        <li>&#8377;<%=listItem.price.toLocaleString('en-IN')%></li>
        <li><%=listItem.location%></li>
        <li><%=listItem.country%></li>
    </ul>
    <a href="/listings/<%=listItem._id%>/edit">Edit this listing</a>
    <form method="post" action="/listings/<%=listItem._id%>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>
