<%layout("/layouts/boilerplate.ejs")%>
<h2 class="mt-3">Your Customers</h2>
<%if(bookings.length>0){%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3">
  <%for(booking of bookings){%>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title"><%=booking.title%></h5>
        <p class="card-text">From:<%=booking.from.toLocaleDateString()%></p>
        <p class="card-text">To:<%=booking.to.toLocaleDateString()%></p>
         <a href="/listings/<%=booking.id%>" class="btn btn-danger">See Listing</a>
         <a href="/user/<%=booking.userid%>" class="btn btn-danger">See Customer</a>
      </div>
    </div>
  <%}%>
</div>
<%}%>
<%if(bookings.length==0){%>
  <h4>No Customers yet</h4>
<%}%>
