<%layout("/layouts/boilerplate.ejs")%>
<div class="mt-3">
    <img src="<%=user.picture.url%>" alt="profile picture">
    <p>Username:&nbsp;<%=user.username%></p>
    <p>email: &nbsp; <%=user.email%></p>
    <p>Phone:&nbsp; <%=user.Phone%></p>
    <p>About: &nbsp; <%=user.About%></p>
</div>