<%layout("/layouts/boilerplate.ejs")%>
<div class="mt-3">
    <img src="<%=user.picture.url%>" alt="profile picture">
    <p>Username:&nbsp;<%=user.username%></p>
    <p>email: &nbsp; <%=user.email%></p>
    <p>Phone:&nbsp; <%=user.Phone%></p>
    <p>About: &nbsp; <%=user.About%></p>
    <a href="/user/listings">Manage your listings</a>
    <a href="/user/reviews">See your reviews</a>
</div>