<%layout("/layouts/boilerplate.ejs")%>
<h2 class="mt-4">Your Travel Impressions</h2>
<%if(userReviews.length>0){%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3">
  <%for(review of userReviews){%>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="review-card card-body">
        <h4 class="card-title"><%=review.listing.title%></h4>
        <p class="card-text"><%=review.createdAt.toLocaleDateString()%></p>
        <p class="card-text review-rating mb-2">
          <% for (let j = 1; j <= review.rating; j++) { %>
          <i class="fa-solid fa-star text-warning"></i>
          <% } %>
        </p>
        <p class="card-text text-muted mb-3"><%=review.comment%></p>
        
        <div class="review-buttons">
          <form
            method="post"
            action="/listings/<%=review.listing._id%>/reviews/<%=review._id%>?_method=DELETE"
          >
            <button class="btn del-btn">Delete Review</button>
          </form>
          <a href="/listings/<%=review.listing._id%>" class="btn seelisting">See Listing</a>
        </div>
      </div>
    </div>
  </div>

  <%}%>
</div>
<%}%> <%if(userReviews.length==0){%>
<h4>No Reviews Added</h4>
<%}%>
<nav aria-label="Listings pagination">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
      <a
        class="page-link"
        href="/user/reviews?page=<%= currentPage - 1 %>"
        >Previous</a
      >
    </li>
    <% for(let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
      <a
        class="page-link"
        href="/user/reviews?page=<%= i %>"
        ><%= i %></a
      >
    </li>
    <% } %>
    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
      <a
        class="page-link"
        href="/user/reviews?page=<%= currentPage + 1 %>"
        >Next</a
      >
    </li>
  </ul>
</nav>